body {
    margin-top: 40px;
}

nav>li{
    padding: 20px;
}

#create:hover, #search:hover{
    background-color: lightblue;
}

#submit-update, #submit-btn, #submit-delete{
    float: right;
    margin-left: 20px;
}

